.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  border-radius: 25px;
  border-color: black;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.hero_image {
  border-radius: 1rem 1rem 0 0;
}

.card_container {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  align-items: center;
}

.card_container h1 {
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card_container p {
  text-align: center;
  color: var(--light-gray-font);
}

.subscription {
  display: flex;
  width: 100%;
  background-color: var(--very-pale-blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.subscription:hover {
  background-color: var(--pale-blue);
}

.annual_plan {
  padding-left: 1rem;
  padding-right: 1rem;
}

.annual_plan h3,
.annual_plan p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.change_link {
  margin-left: auto;
  color: blue;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .card_container {
    padding: 1rem;
  }
}
