.container {
  background-color: var(--pale-blue);
  background: url(../images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
